django 
channels 
daphne 
djangorestframework 
django-cors-headers 
numpy 
opencv-python 
pillow 
psycopg2-binary 
redis 
channels_redis 
pgvector
ultralytics
websockets
transformers
easyocr
deepface
tf-keras
facenet-pytorch
cloudinary
python-dotenv
openai-whisper
pvporcupine
SpeechRecognition 
PyAudio
google-generativeai
accelerate
einops
torchvision
torchaudio --index-url https://download.pytorch.org/whl/cu121